{
  "GOOGLE_USER": "username@company.com",
  "GOOGLE_PW": "password",
  "GITHUB_USER": "username",
  "GITHUB_PW": "password",
  "COOKIE_NAME": "next-auth.session-token",
  "SITE_NAME": "http://localhost:3000"
}
